h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; }

h2 {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif; }

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif; }

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif; }

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent; }
  a:hover {
    border-bottom: 2px solid #b4b4b4; }

hr {
  width: 100%;
  height: 3px;
  border: none;
  background: #b4b4b4; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

main {
  position: relative;
  display: block;
  min-height: calc(100vh - 8rem);
  padding-bottom: 26.5rem;
  overflow: hidden; }
  @media all and (min-width: 768px) {
    main {
      padding-bottom: 10rem; } }

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem; }

.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  @media all and (min-width: 768px) {
    .row {
      flex-flow: row wrap;
      justify-content: space-between; } }

.btn {
  padding: 0.75rem 1.5rem 0.6rem 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  background: #db504a;
  border-radius: 50px;
  color: #ffffff; }
  .btn:hover {
    background: #e2716c;
    text-decoration: none; }

.bkg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.logo {
  width: 6rem;
  height: 6rem;
  background: url(../img/logo.png) center/cover no-repeat; }

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.centered {
  text-align: center; }
  .centered * {
    margin-left: auto;
    margin-right: auto; }

.hidden {
  display: none; }

p:first-of-type {
  margin-top: 2rem; }

header {
  display: flex;
  width: 100%;
  height: 8rem;
  background: #db504a; }
  header .header__content {
    width: 100%;
    max-width: 60rem;
    margin: 1rem auto;
    padding: 0 2rem;
    justify-content: space-between !important;
    align-items: flex-start; }

nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: column;
  top: 8rem;
  left: 0;
  z-index: 100;
  background: #b4b4b4;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600; }
  nav a {
    padding: 1rem 1.5rem;
    text-align: center; }
    nav a:hover {
      font-size: 1.8rem; }
  @media all and (min-width: 768px) {
    nav {
      display: block !important;
      position: static;
      width: auto;
      display: block;
      margin-top: auto;
      background: none; }
      nav a {
        padding: 1rem 1.5rem; } }

#menu-toggle {
  position: absolute;
  top: 4rem;
  right: 3rem; }
  #menu-toggle svg {
    width: 2rem;
    height: 2rem; }
  @media all and (min-width: 768px) {
    #menu-toggle {
      display: none; } }

footer {
  position: absolute;
  width: 100%;
  height: 26.5rem;
  bottom: 0;
  background: #606060;
  color: #ffffff; }
  footer .container {
    height: 100%;
    justify-content: space-evenly; }
  footer .footer__info {
    margin: 0 auto;
    padding: 1rem 0; }
    footer .footer__info a {
      display: flex;
      align-items: center;
      padding: 0.5rem 0; }
    footer .footer__info .icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      fill: white;
      color: white; }
    @media all and (min-width: 768px) {
      footer .footer__info {
        margin: 0 auto 0 0;
        padding: 0 1.5rem; }
        footer .footer__info a {
          padding: 0.25rem; } }
  footer .footer__links {
    flex-flow: row wrap;
    padding: 0; }
    footer .footer__links a {
      padding: 0.5rem 1rem; }
      @media all and (min-width: 768px) {
        footer .footer__links a {
          padding: 0rem 0.5rem; } }
  @media all and (min-width: 768px) {
    footer {
      height: 10rem; } }
